body {
    color: white;
    background-color: #282020;
    text-align: center;
    overflow: scroll;
    font-family: sans-serif;
}

hr {
    border: 0;
    border-top: 2px solid #808080;
    width: 85%;
}

table {
    background-color: #404040;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    width: 85%;
}

tr, th, td {
    padding: 4px;
}

tbody tr:nth-child(odd) {
    background-color: #505050;
}

tbody tr:nth-child(even) {
    background-color: #585858;
}

.page_content {
    text-align: left;
    padding-left: 8px;
}
