body {
    color: white;
    background-color: #282020;
    text-align: center;
    overflow: scroll;
}

table {
    background-color: #404040;
    border-collapse: separate;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    width: 100%;
}

tbody tr:nth-child(odd) {
    background-color: #505050;
}

tbody tr:nth-child(even) {
    background-color: #585858;
}

header {
    border-bottom: 2px solid #808080;
}

header h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.app_container, header {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.page_content {
    text-align: left;
    padding-left: 8px;
}

.toolbar {
    background-color: #404040;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    width: 100%;
    text-align: left;
}

.hamburger_button {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: none;
}

.green {
    background-color: #506050;
}

.red {
    background-color: #605050;
}

.search_box {
    border-right: 2px solid #606060;
}

.refresh_button {
    float: right;
    padding-left: 24px;
    margin-right: 8px;
    border-left: 2px solid #606060;
    border-right: none;
}

.refresh_button:hover {
    color: #ffc080;
}

.refresh_button:active {
    color: #e0a060;
}

input {
    color: #c0c0c0;
    background-color: #404040;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #606060;
    border-right: 1px solid #606060;
    padding: 16px;
}

.settings {
    background-color: #404040;
    padding: 2px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    width: 100%;
}

.setting {
    text-align: center;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* TODO: The outline looked bad. What can we use
 *       instead for tabbing through the interface? */
input:focus {
    outline: none !important;
}
